// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Rochester");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Patua+One|Roboto");

// Variables
@import "variables";

// Bootstrap
/*@import "~bootstrap-sass/assets/stylesheets/bootstrap";*/

// Bulma
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "node_modules/bulma/bulma.sass";
@import "overwrite";

*{
	font-family: 'Open Sans';
}

body, html {
	height: 100%;
}

.navbar-item{
	font-weight: bolder;
}

section.section{
	margin-bottom:50px;
}

.mb-20{
  margin-bottom:20px;
}

.item-columns{
  max-width:1024px;
}

.column{
  flex-grow:0;
}

.icon-item{
  height:250px;
  width:300px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-evenly;
  padding:20px;
  // background-color:#E4E3DC;
   >img{
    height: auto;
    max-width: 100%;
    width:70px;
    align-self: center;
    margin-bottom:10px;
   }
   >span{
     font-weight:bolder;
     text-transform:uppercase;
   }
}

.fs-15{
  font-size:1.5em;
}

.intro{
  >img{
    opacity:.8;
    width:50px;
  }
}

@media (max-width:1023px) {

	.navbar{
		position:relative!important;
		min-height:8rem;
	}

	.navbar-end{
		display:none;
	}

	.card-content {
		padding: 0; 
	}

	hr{
		display:none;
	}

	.navbar-item img {
		max-height: 4.75rem;
		margin-top:15px;
		width:250px;
	}

}